.online {
    width: 10px;
    height: 10px;
    display: block;
    background-color: greenyellow;
    border-radius: 50%;
}

.ofline {
    width: 10px;
    height: 10px;
    display: block;
    background-color: red;
    border-radius: 50%;
}

.friend-list {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 40px auto 0 auto;
    list-style: none;
}

.friend-list li {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: rgb(241, 241, 241);
    & .name {
        margin: 0;
        margin-left: 20px;
        font-size: 24px;
        font-weight: 500;
    }
    & .avatar {
        margin-left: 20px;
        border-radius: 4px;
    }

     box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.32);
}

.friend-list li:not(:last-child) {
    margin-bottom: 20px; 
}